Package: gtkdialog-dbgsym
Source: gtkdialog
Version: 2:0.8.3-16ton+1
Auto-Built-Package: debug-symbols
Architecture: arm64
Bugs: mailto: <stevep@mxlinux.org>
Maintainer: Steven Pusser <stevep@mxlinux.org>
Installed-Size: 343
Depends: gtkdialog (= 2:0.8.3-16ton+1)
Section: debug
Priority: optional
Description: debug symbols for gtkdialog
Build-Ids: 474be0bd797c9912cd58901334e5f884626fdd16
Original-Maintainer: Mike Purtell (mmikeinsantarosa) <maintainer@mepiscommunity.org>
